@import "tailwindcss";

@theme {
  --animate-blink: blink 1s step-start infinite;

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #report-table, #report-table * {
    visibility: visible;
  }
  #report-table {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
